.main_icon{
    width: auto; height: auto;
    max-width: 100px;
    max-height: 100px;
}

.text_align_bottom{
    vertical-align: bottom;
}

.footer-text-align-left{
    text-align: left; !important;
}


.map-info-box {
    margin-top: 40px;
    text-align: left;
    font-size: initial;
    font-family: 'Merriweather Sans';
    color: #dbdbdb;
    letter-spacing: 2px;
    word-spacing: 5px;
}


.map-info-box .sp-margin-1{
    position: absolute;
    margin-left: 2px;
}

.map-info-box .sp-margin-2{
    position: absolute;
    margin-left: 90px;
}

.map-info-box .sp-margin-3{
    position: absolute;
    margin-left: 120px;
}

.navbar-shrink-custom {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
}

.navbar-shrink-custom .navbar-brand {
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    color: #212529;
}
.navbar-shrink-custom .navbar-nav .nav-item .nav-link {
    color: #6c757d;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    font-size: 0.9rem;
    padding: 0.75rem 0;
}
.navbar-shrink-custom .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
    color: #f4623a;
}
.navbar-shrink-custom .navbar-nav .nav-item .nav-link.active {
    color: #f4623a !important;
}

@media (min-width: 992px) {
    .navbar-shrink-custom .navbar-brand {
        color: #212529;
    }
    .navbar-shrink-custom .navbar-brand:hover {
        color: #f4623a;
    }
    .navbar-shrink-custom .navbar-nav .nav-item .nav-link {
        color: #212529;
        padding: 0 1rem;
    }
    .navbar-shrink-custom .navbar-nav .nav-item .nav-link:hover {
        color: #f4623a;
    }
    .navbar-shrink-custom .navbar-nav .nav-item:last-child .nav-link {
        padding-right: 0;
    }
    .navbar-shrink-custom.navbar-shrink {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        background-color: #fff;
    }
    .navbar-shrink-custom.navbar-shrink .navbar-brand {
        color: #212529;
    }
    .navbar-shrink-custom.navbar-shrink .navbar-brand:hover {
        color: #f4623a;
    }
    .navbar-shrink-custom.navbar-shrink .navbar-nav .nav-item .nav-link {
        color: #212529;
    }
    .navbar-shrink-custom.navbar-shrink .navbar-nav .nav-item .nav-link:hover {
        color: #f4623a;
    }
}

.padding-top-6 {
    padding-top: 6em; !important;
}